body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*section header begins*/
#header{
    width: 100%;
    height: 80px;
    float: left;
    background-color: rgb(61, 133, 86);
    position: fixed;
}
.logo{
    width: 5%;
    height: 60px;
    float: left;
    background-color: none;
    margin-top: 10px;
    margin-left: 100px;
}
.logo a img{
    width: 100%;
    height: 60px;
}
.navbar{
    width: 70% ;
    height: 60px;
    float: right;
    background-color: none;
    margin-top: 10px;
    margin-right: 100px;
    
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    display: inline;
    padding: 10px 20px;
    line-height: 2.0em;
    border-bottom: 2px solid rgb(61, 133, 86);
    border-radius: 15px;
    cursor: pointer;
}
.navbar ul li:hover{
    display: inline;
    padding: 10px 25px;
    line-height: 2.0em;
    border-bottom: 2px solid white;
    border-radius: 15px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li:hover a{
    text-decoration: none;
    color: yellowgreen;
}
#promos{
   background: linear-gradient(rgb(61, 133, 86),darkgreen,rgb(61, 133, 86));
    border: 1px solid white;
    border-radius: 25px;
    padding: 8px 27px;
    box-shadow: 0 2px 2px 1px white;
}
#promos:hover{
    background: linear-gradient(white,yellowgreen,white);
    border: 1px solid white;
    border-radius: 25px;
    padding: 8px 27px;
    color: green;
    cursor: pointer;
    animation: moveup linear 1s forwards;
    position: relative;
    box-shadow: 0 3px 3px 1px green;
}
#promos:hover a {
    color: green;
}
@keyframes moveup{
    0%{bottom: 0;}
    100%{bottom: 1px;}
}
/*section header ends
=================
section hero begins
*/
#hero{
    width: 100%;
    height: 450px;
    float: left;
    background-color: brown;
    background-image: url(../image/fashion.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
}
#hero1{
    width: 100%;
    height: 250px;
    float: left;
    background-color: brown;
    background-image: url(../image/fashion.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    text-align: center;
}
.hero{
    width: 30%;
    height: 205px;
    float: left;
    background-color: rgb(61, 133, 86);
    margin-top: 200px;
    margin-left: 100px;
    border-bottom-right-radius: 100px !important;
    padding: 20px 20px;
    border: 2px solid white;
    border-radius: 7px;
    box-shadow: 0 2px 2px 1px gainsboro;
    border-top-left-radius: 70px !important;
}
.hero:hover{
    width: 30%;
    height: 205px;
    float: left;
    background-color: rgb(61, 133, 86);
    margin-top: 200px;
    margin-left: 100px;
    border-bottom-right-radius: 100px !important;
    padding: 20px 20px;
    border: 2px solid white;
    border-radius: 7px;
    box-shadow: 0 2px 2px 1px gainsboro;
    border-top-left-radius: 70px !important;
    animation: flip 1s linear forwards;
    position: relative;
    cursor: pointer;
}
@keyframes flip{
    0%{transform: rotateX(0deg);}
    100%{transform: rotateX(180deg);}
}
.hero a{
    padding: 12px 30px;
    background-color: rgb(61, 133, 86) ;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid white;
}
.hero:hover a{
    padding: 12px 30px;
    background-color: rgb(61, 133, 86) ;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid white;
    animation: learn 1s linear forwards;
    position: absolute;
}
.hero a:hover{
    padding: 12px 30px;
    background-color: white ;
    color: rgb(61, 133, 86);
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid rgb(61, 133, 86);
}
@keyframes learn{
    0%{transform: rotateX(0deg);}
    100%{transform: rotateX(180deg);}
}
.hero h1{
   color: gold;
}
.hero:hover h1{
    color: gold;
    animation: move 1s linear forwards;
    position: relative;
}
@keyframes move{
    0%{transform: rotateX(0deg);}
    100%{transform:rotateX(180deg);}
}
/* hero ends
==============
main begins
*/
#main{
width: 100%;
height: auto;
float: left;
}
#overview{
    width: 100%;
    height: 460px;
    float: left;
    background-color: none;
}
.overview{
    width: 85%;
    height: 450px;
    float: left;
    background-color: none;
    margin-left: 100px;
}
.overview span{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(61, 133, 86);
    margin-top: 20px;
    margin-bottom: 20px;
}
.overcont{
    width: 40%;
    height: 380px;
    float: left;
    background-color: none;
}
.overdi{
    width: 57%;
    height: 380px;
    float: right;
    background-color: none;
}
.overcont ul{
    list-style: decimal-leading-zero;
    padding-left: 22px;
}
.overcont ul li{
    padding: 6px 0;
}
#adjust{
    margin-bottom: 40px;
}
.overdi a{
    padding: 10px 30px;
    background-color: white;
    border: 1px solid rgb(61, 133, 86);
    border-radius: 7px;
    text-decoration: none;
    color: rgb(61, 133, 86);
}
.overdi a:hover{
    padding: 10px 30px;
    background-color: rgb(61, 133, 86);
    border: 1px solid rgb(61, 133, 86);
    border-radius: 7px;
    text-decoration: none;
    color: white;
}
/*overview end
=============
describe begins
*/
#describe{
    width: 100%;
    height: auto;
    float: left;
    background-color: whitesmoke;
}
.describe{
    width: 85%;
    height: 430px;
    float: left;
    background-color: none;
    margin-left: 100px;
}
.mydescribe{
    width: 57%;
    height: 420px;
    float: left;
    background-color: none;
}
.mydescribe h2{
    color: rgb(61, 133, 86);
}
.descimage{
    width: 40%;
    height: 350px;
    float: right;
    background-color: none;
    background-image: url(../image/fashion.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    border-radius: 10px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.fash{
    width: 80%;
    height: auto;
    float: left;
    margin-bottom: 10px;
}
.fasht{
    width: 90%;
    height: 35px;
    float: left;
    background-color: white;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    color: rgb(61, 133, 86);
    cursor: pointer;
}
.fashc{
    width: 90%;
    height: auto;
    float: left;
    padding: 10px 20px;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: none;
}
.fash:hover .fashc{
    width: 90%;
    height: auto;
    float: left;
    padding: 10px 20px;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: block;
    cursor: pointer;
}
/*section describe ends
================
section services begins
*/
#services{
    width: 100%;
    height: 490px;
    float: left;
    background-color: whitesmoke;
}
.services{
    width: 85%;
    height: 480px;
    float: left;
    background-color: none;
    margin-left: 100px;
}
.services span{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(61, 133, 86);
    margin-bottom: 20px;
}
.myserve{
    width: 23%;
    height: 380px;
    float: left;
    background-color: white;
    margin-left: 30.5px;
    border-radius: 10px;
    box-shadow: 0 3px 3px 1px gainsboro;
}
.myshift{
    margin-left: 0;
}
.serveim{
    width: 15%;
    height: 40px;
    float: left;
    background-color: none;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 50px;
}
.serveim img{
    width: 100%;
    height: 40px;
    border-radius: 50px;
}
.servecon{
    width: 100%;
    height: 300px;
    float: left;
    background-color: none;
}
.servecon h3{
    color: rgb(61, 133, 86);
    line-height: 0.05em;
    padding-left: 20px;
}
.servecon h3 a{
    text-decoration: none;
    color: inherit;
}
.servecon p{
    padding: 0 20px;
}
/*section services end
==============
section product begins
*/#product{
    width: 100%;
    height: 600px;
    float: left;
    background-color: none;
}
.product{
    width: 85%;
    height: 560px;
    float: left;
    background-color: none;
    margin-left: 100px;
}
.product span{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(61, 133, 86);
    margin-bottom: 20px;
    margin-top: 20px;
}
.product span hr{
    width: 8%;
  font-size: 1px;
}
.myproduct{
    width: 32%;
    height: 480px;
    float: left;
    background-color: whitesmoke;
    margin-left: 22.5px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 1px gainsboro;
}
.mypros{
    margin-left: 0;
}
.productim{
    width: 100%;
    height: 260px;
    float: left;
    background-color: none;
}
.productim img{
    width: 100%;
    height: 260px;
}
.productcon{
    width: 100%;
    height: 220px;
    float: left;
    background-color: none;
}
.productcon h3{
    color: rgb(61, 133, 86);
    line-height: 0.05em;
    margin-left: 20px;
}
.productcon p{
    padding: 0 20px;
    margin-bottom: 40px;
}
.productcon a{
    padding: 10px 30px;
    margin-left: 20px;
    background-color: rgb(61, 133, 86);
    border: 1px solid rgb(61, 133, 86);
    text-decoration: none;
    color: white;
    border-radius: 25px;
}
.productcon a:hover{
    padding: 10px 30px;
    margin-left: 20px;
    background-color: white;
    border: 1px solid rgb(61, 133, 86);
    text-decoration: none;
    color: rgb(61, 133, 86);
    border-radius: 25px;
}
/*section products end
============================
section promo begins
*/
#promo{
    width: 100%;
    height: 480px;
    float: left;
    background-color: whitesmoke;
    margin-bottom: 10px;
}
.promo{
    width: 85%;
    height: 450px;
    float: left;
    background-color: none;
    margin-left: 100px;
}
.promo span{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(61, 133, 86);
    margin-top: 20px;
    margin-bottom: 20px;
}
.promoim{
    width:35%;
    height: 350px;
    float: left;
    background-color: none;
    background-image: url(../image/fashion.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.promocon{
    width: 63%;
    height: 350px;
    float: right;
    background-color: none;
}
.push{
    margin-bottom: 40px;
}
.promocon a{
    background-color: rgb(61, 133, 86);
    color: white;
    padding: 10px 30px;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid rgb(61, 133, 86);
}
.promocon a:hover{
    background-color: white;
    color: rgb(61, 133, 86);
    padding: 10px 30px;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid rgb(61, 133, 86);
}
.promocon h3{
    color: rgb(61, 133, 86);
    margin-top: 0;
    padding-top: 0;
}
#mysvg{
    display: block;
    transform: rotateX(180deg);
}
/*section promo end
=========
section portfolio begins
*/
#portfolio{
    width: 100%;
    height: 580px;
    float: left;
    background-color: none;
}
.portfolio{
    width: 85%;
    height: 570px;
    float: left;
    background-color: none;
    margin-left: 100px;
}
.portfolio span{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 25px;
    color: rgb(61, 133, 86);
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 20px;
}
.portim{
    width: 31%;
    height: 230px;
    float: left;
    background-color: none;
    margin-left: 37px;
    background-image: url(../image/fashion.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.one{
    width: 31%;
    height: 230px;
    float: left;
    background-color: none;
    margin-left: 37px;
    background-image: url(../image/rangers.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.portim:hover{
    width: 31%;
    height: 230px;
    float: left;
    background-color: none;
    margin-left: 37px;
    background-image: url(../image/fashion.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: myporter 1s linear forwards;
}
.one:hover{
    width: 31%;
    height: 230px;
    float: left;
    background-color: none;
    margin-left: 37px;
    background-image: url(../image/rangers.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: myporter 1s linear forwards;
}
.two{
    width: 31%;
    height: 230px;
    float: left;
    background-color: none;
    margin-left: 37px;
    background-image: url(../image/ddl.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.two:hover{
    width: 31%;
    height: 230px;
    float: left;
    background-color: none;
    margin-left: 37px;
    background-image: url(../image/ddl.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: myporter 1s linear forwards;}
.three{
        width: 31%;
        height: 230px;
        float: left;
        background-color: none;
        margin-left: 37px;
        background-image: url(../image/coat.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
.four{
        width: 31%;
        height: 230px;
        float: left;
        background-color: none;
        margin-left: 37px;
        background-image: url(../image/ankara.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
.three:hover{
        width: 31%;
        height: 230px;
        float: left;
        background-color: none;
        margin-left: 37px;
        background-image: url(../image/coat.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        animation: myporter 1s linear forwards;}
.four:hover{
            width: 31%;
            height: 230px;
            float: left;
            background-color: none;
            margin-left: 37px;
            background-image: url(../image/ankara.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            animation: myporter 1s linear forwards;}
@keyframes myporter{
    from{background-size: 1000px;}
    to{background-size: 1200px;}
}
.shiftd{
    margin-left: 0;
}
.shiftd:hover{
    margin-left: 0;
}
.calla{
    width: 94%;
    height: 60px;
    float: left;
    background-color:rgb(61, 133, 86) ;
    margin-left: 10px;
    margin-top: 169px;
    display: none;
}
.call{
    width: 94%;
    height: 60px;
    float: left;
    background-color:rgb(61, 133, 86) ;
    margin-left: 10px;
    margin-top: 169px;
    display: none;
}
.portim:hover .call{
    width: 94%;
    height: 60px;
    float: left;
    background-color:rgb(61, 133, 86) ;
    margin-left: 10px;
    margin-top: 169px;
    display: block;
}
.calls{
    width: 94%;
    height: 60px;
    float: left;
    background-color:rgb(61, 133, 86) ;
    margin-left: 10px;
    margin-top: 169px;
    display: none;
}
.calle{
    width: 94%;
    height: 60px;
    float: left;
    background-color:rgb(61, 133, 86) ;
    margin-left: 10px;
    margin-top: 169px;
    display: none;
}
.called{
    width: 94%;
    height: 60px;
    float: left;
    background-color:rgb(61, 133, 86) ;
    margin-left: 10px;
    margin-top: 169px;
    display: none;
}
.one:hover .calla{
    width: 94%;
    height: 60px;
    float: left;
    background-color:rgb(61, 133, 86) ;
    margin-left: 10px;
    margin-top: 169px;
    display: block;
}
.two:hover .calls{
    width: 94%;
    height: 60px;
    float: left;
    background-color:rgb(61, 133, 86) ;
    margin-left: 10px;
    margin-top: 169px;
    display: block;
}
.three:hover .calle{
    width: 94%;
    height: 60px;
    float: left;
    background-color:rgb(61, 133, 86) ;
    margin-left: 10px;
    margin-top: 169px;
    display: block;
}
.four:hover .called{
    width: 94%;
    height: 60px;
    float: left;
    background-color:rgb(61, 133, 86) ;
    margin-left: 10px;
    margin-top: 169px;
    display: block;
}
.call p{
    color: yellowgreen;
    width: 65%;
    float: left;
    font-weight: 600;
    font-size: 16px;
    padding-left: 20px;
}
.calla p{
    color: yellowgreen;
    width: 65%;
    float: left;
    font-weight: 600;
    font-size: 16px;
    padding-left: 20px;
}
.calls p{
    color: yellowgreen;
    width: 65%;
    float: left;
    font-weight: 600;
    font-size: 16px;
    padding-left: 20px;
}
.calle p{
    color: yellowgreen;
    width: 65%;
    float: left;
    font-weight: 600;
    font-size: 16px;
    padding-left: 20px;
}
.called p{
    color: yellowgreen;
    width: 65%;
    float: left;
    font-weight: 600;
    font-size: 16px;
    padding-left: 20px;
}
.call a{
    float: right;
    margin-top: 12px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    padding: 7px 20px;
    background-color: rgb(61, 133, 86);
    border: 1px solid white;
    border-radius: 7px;
}
.calla a{
    float: right;
    margin-top: 12px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    padding: 7px 20px;
    background-color: rgb(61, 133, 86);
    border: 1px solid white;
    border-radius: 7px;
}
.calls a{
    float: right;
    margin-top: 12px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    padding: 7px 20px;
    background-color: rgb(61, 133, 86);
    border: 1px solid white;
    border-radius: 7px;
}
.calle a{
    float: right;
    margin-top: 12px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    padding: 7px 20px;
    background-color: rgb(61, 133, 86);
    border: 1px solid white;
    border-radius: 7px;
}
.called a{
    float: right;
    margin-top: 12px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    padding: 7px 20px;
    background-color: rgb(61, 133, 86);
    border: 1px solid white;
    border-radius: 7px;
}
.call a:hover{
    float: right;
    margin-top: 12px;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(61, 133, 86);
    padding: 7px 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 7px;
}
.calla a:hover{
    float: right;
    margin-top: 12px;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(61, 133, 86);
    padding: 7px 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 7px;
}
.calls a:hover{
    float: right;
    margin-top: 12px;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(61, 133, 86);
    padding: 7px 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 7px;
}
.calle a:hover{
    float: right;
    margin-top: 12px;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(61, 133, 86);
    padding: 7px 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 7px;
}
.called a:hover{
    float: right;
    margin-top: 12px;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(61, 133, 86);
    padding: 7px 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 7px;
}
.myrep{
    margin-top: 20px;
}
/*
section portfolio end
============
section blog begins
*/
#blog{
    width: 100%;
    height: 600px;
    float: left;
    background-color: none;
}
.blog{
    width: 85%;
    height: 580px;
    float: left;
    background-color: none;
    margin-left: 100px;
}
.blog span{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(61, 133, 86);
    margin: 20px 0;   
}
.blogs{
    width: 32%;
    height: 485px;
    float: left;
    background-color: none;
    margin-left: 20px;
    border: 1px solid gainsboro;
    border-radius: 15px;
    box-sizing: border-box;
}
.sommy{
    margin-left: 0;
}
.blog_top{
    width: 100%;
    height: 80px;
    float: left;
    background-color: whitesmoke;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid gainsboro;
    box-sizing: border-box;
}
.blog_top p{
    width: 70%;
    float: left;
    padding-left: 10px;
    font-weight: 600;
}
.blog_top a{
    padding: 8px 25px;
    float: left;
    border: 1px solid rgb(61, 133, 86);
    border-radius: 25px;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(61, 133, 86);
    font-weight: 600;
}
.blog_top a:hover{
    padding: 8px 25px;
    float: left;
    border: 2px solid rgb(61, 133, 86);
    border-radius: 25px;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(61, 133, 86);
    font-weight: 600;
    background-color: rgb(217, 230, 235);
    opacity: 0.8;
}
.blog_profile{
    width: 100%;
    height: 200px;
    float: left;
    background-color: none;
}
.myimages{
    width: 16%;
    height: 60px;
    float: left;
    background-color: aqua;
    border-radius: 100px;
    margin-left: 20px;
    margin-top: 10px;
}
.myimages img{
    width: 100%;
    height: 60px;
    border-radius: 100px;
}
.mycontents{
    width: 70%;
    height: 60px;
    float: left;
    background-color: none;
    margin-left: 10px;
    margin-top: 10px;
}
.mycontents p{
    margin-top: 0;
    padding-top: 0;
    color: rgb(61, 133, 86);
}
.blog_profile #myjut{
    width: auto;
    padding: 0 20px;
    float: left;
}
.blogas{
    width: 100%;
    height: 140px;
    float: left;
    background-color: whitesmoke;
}
.blos{
    width: 40%;
    height: 130px;
    float: left;
    background-color: none;
    margin-top: 5px;
    border-radius: 7px;
}
.blosa{
    width: 59%;
    height: 130px;
    float: left;
    background-color: none;
    margin-top: 5px;
}
.blos img{
    width: 100%;
    height: 130px;
    border-radius: 7px;
}
.blosa p{
    padding-left: 10px;
    color: rgb(61, 133, 86);
}
.joans{
    width: 100%;
    height: 60px;
    float: left;
    background-color: none;
}
.joans hr{
    width: 95%;
    margin-left: 7px;
}
.joans a{
    text-decoration: none;
    color: inherit;
    padding: 7px 22px;
    background-color: none;
}
.joans #myleft,
.joans #myright{
    font-size: 12px;
    font-weight: 100;
    padding: 0;
    margin: 0;
    line-height: 0.5em;
    float: left;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}
.joans #myright{
    float: right!important;
    width: 40%!important;
}
/*
section blogs ends
===========
section contact begins
*/
#contact{
    width: 100%;
    height: 630px;
    float: left;
    background-color: none;
}
.contact{
    width: 85%;
    height: 590px;
    float: left;
    background-color: none;
    margin-left: 100px;
}
.contact span{
    width: 100%;
    float: left;
    margin-bottom: 20px;
    font-size: 25px;
    color: rgb(61, 133, 86);
    text-align: center;
    font-weight: bolder;
}.map{
    width: 43%;
    height: 530px;
    float: left;
    background-color: none;
    border-top: 3px solid rgb(61, 133, 86);
    border-bottom: 3px solid rgb(61, 133, 86);
    box-shadow: 0 4px 4px 3px gainsboro;
}
.message{
    width: 55%;
    height: 530px;
    float: right;
    background-color: none;
    border-top: 3px solid rgb(61, 133, 86);
    border-bottom: 3px solid rgb(61, 133, 86);
    box-shadow: 0 4px 4px 3px gainsboro;
}
.adjust{
    width: 47%;
    height: 60px;
    float: left;
    background-color: none;
    margin-left: 12px;
    margin-top: 20px;
}
.adjust input{
    width: 97%;
    height: 35px;
    float: left;
    border-radius: 5px;
    border: 1px solid gainsboro;
    outline-color: rgb(61, 133, 86);
}
.agata{
    margin-top: 10px;
}
.topa{
    width: 97.5%;
}
.stretch{
    height: 225px;
}
.adjust textarea{
    border: 1px solid gainsboro;
    border-radius: 5px;
    outline-color: rgb(61, 133, 86);
}
.rosesomy{
    text-align: center;
}
.rosesomy button{
    padding: 10px 30px;
    border-radius: 25px;
    border: 1px solid rgb(61, 133, 86);
    background-color: rgb(61, 133, 86);
    color: white;
}
.rosesomy button:hover{
    padding: 10px 30px;
    border-radius: 25px;
    border: 1px solid rgb(61, 133, 86);
    background-color: white;
    color: rgb(61, 133, 86);
    cursor: pointer;
}
.mapping{
    width: 94%;
    height: 60px;
    float: left;
    background-color: none;
    margin-left: 14px;
    margin-top: 20px;
}
.mapping h4{
    line-height: 0.05em;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 18px;
    margin-top: 0;
    padding-top: 10px;
    color: rgb(61, 133, 86);
}
.mydrop{
    margin-top: 5px;
}
.biggi{
    height: 300px;
}
/*contact us ends
=================================
footer begins
*/
#footer{
    width: 100%;
    height: auto;
    float: left;
}
.main_footer{
    width: 100%;
    height: 330px;
    background-color: white;
    float: left;
}
.minor_footer{
    width: 100%;
    height: 80px;
    float: left;
    background-color: rgb(61, 133, 86);
}
.my_footer{
    width: 23%;
    height: 320px;
    float: left;
    background-color: none;
    margin-left: 29px;
}
.footer{
    width: 85%;
    height: 330px;
    float: left;
    background-color: none;
    margin-left: 100px;
}
.myshift{
    margin-left: 0;
}
.footer_image{
    width: 25%;
    height: 60px;
    float: left;
    background-color: none;
    margin-top: 20px;
}
.footer_image img{
    width: 100%;
    height: 60px;
}
.myshift p{
    width: 100%;
    float: left;
}
.my_footer h6{
    font-size: 14px;
    padding-top: 0;
    margin-top: 20px;
    color: rgb(61, 133, 86);
    margin-bottom: 0;
    padding-bottom: 0;
}
.my_footer ul{
    list-style: none;
    padding-left: 0;
}
.my_footer ul li{
    padding: 5px 0;
}
.my_footer ul li a{
    color: inherit;
    text-decoration: none;
}
.my_footer ul li a:hover{
    color: inherit;
    text-decoration: underline;
}
.my_footer input{
    height: 32px;
    border-radius: 10px;
    border: 1px solid rgb(61, 133, 86);
    outline-color: none;
}
.my_footer button{
    height: 32px;
    border: 1px solid rgb(61, 133, 86);
    background-color: rgb(61, 133, 86);
    color: white;
    cursor: pointer;
}
.minor_footer p{
color: white;
margin-left: 100px;
margin-top: 30px;
}
.bread_crumb{
 width: 30%;
 height: 100px;
 float: left;
 background-color: rgb(61, 133, 86);
 margin-left: 450px; 
 margin-top: 50px;  
 border-top-right-radius: 50px;
 border-bottom-left-radius: 50px;
 padding-top: 20px;
}
.bread_crumb span{
    color: white;
    font-weight: bolder;
    font-size: 25px;
}
.bread_crumb p{
    color: white;
}
.bread_crumb p a{
    text-decoration: none;
    color: inherit;
}
.bread_crumb p a:hover{
    text-decoration: underline;
    color: inherit;
}
